<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>About Us</title>
    <link href="https://unpkg.com/@picocss/pico@1.5.0/css/pico.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
</head>
<body>

<main class="container">
    <hgroup>
        <h1><i class="fa-solid fa-hands-helping"></i> Test your ideea</h1>
        <p>Validate your idea with the community and get quick, friendly feedback. </p>

    </hgroup>

    <article>
        <h2><i class="fa-solid fa-info-circle"></i> About</h2>
        <ul>
            <li>Upvote the ideas that inspire you.</li>
            <li>Explore fresh ideas or let AI spark new inspiration for you.</li>
            <li>Engage with the community to see which ideas are trending, and discover if the solution you're trying to solve for yourself is also helping others.</li>
        </ul>

    </article>

    <nav>
        <a class="contrast" href="javascript:history.back()" role="button"><i class="fa-solid fa-arrow-left"></i>
            Back</a>
    </nav>
</main>

</body>
</html>
