<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Support Us</title>
    <link href="https://unpkg.com/@picocss/pico@1.5.0/css/pico.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
</head>
<body>

<main class="container">
    <hgroup>
        <h1><i class="fa-solid fa-hands-helping"></i> Support Our Mission</h1>
        <p>Your support enables us to continuously enhance our platform—making it more reliable, efficient, and
            accessible for everyone.</p>

    </hgroup>

    <article>
        <h2><i class="fa-solid fa-heart"></i> Goal</h2>
    <p>Whether you're searching for your next big idea or eager to share your creativity with others, this platform empowers you to do just that.</p>
    </article>

    <article>
        <h2><i class="fa-solid fa-hand-holding-heart"></i> How You Can Help</h2>
        <ul>
            <li><strong><i class="fa-solid fa-donate"></i> Make a Contribution:</strong> Your donation directly supports
                platform improvements, infrastructure, and future innovations. <a href="https://revolut.me/catalilb7"
                                                                                  role="button" target="_blank">Donate
                    Now</a></li>
            <li><strong><i class="fa-solid fa-share"></i> Spread the Word:</strong> Help us grow by sharing our platform
                with friends, family, and businesses that could benefit from better planning.
            </li>
            <li><strong><i class="fa-solid fa-comments"></i> Provide Feedback:</strong> Your insights help us evolve.
            </li>
        </ul>
    </article>

    <article>
        <h2><i class="fa-solid fa-life-ring"></i> Need Assistance?</h2>
        <p>We're here to help! If you have any questions or need support, reach out to us anytime.</p>
        <p><a href="mailto:nodes.ro@proton.me" role="button"><i class="fa-solid fa-envelope"></i> Contact
            Support</a></p>
    </article>

    <nav>
        <a class="contrast" href="javascript:history.back()" role="button"><i class="fa-solid fa-arrow-left"></i> Back</a>
    </nav>
</main>

</body>
</html>
